<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!--TCP/IP (Wi-Fi/Ethernet) yazdırma -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- (opsiyonel) Ağ durumu -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--Android 12+ (API 31+) Bluetooth izinleri -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!-- (opsiyonel) advertise gerekiyorsa -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <!--Android 11 ve altı (API ≤30) klasik Bluetooth + konum -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:maxSdkVersion="30" />
    &lt;!&ndash; (opsiyonel) &ndash;&gt;
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" android:maxSdkVersion="30" />-->

    <!-- Android 13+ bildirim (opsiyonel) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Android 14+ foreground service tür izinleri (opsiyonel) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <!-- (opsiyonel) Donanım özellik bildirimi; Play filtrelemesi için required=false -->
    <uses-feature android:name="android.hardware.bluetooth" android:required="false" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"
        tools:ignore="ForegroundServicesPolicy" />

    <application
        android:name=".RepzoneApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        tools:ignore="UnusedAttribute">
        <!-- TCP 9100 portu cleartext olduğu için ağ güvenliği sorun çıkarmasın diye açabiliriz (opsiyonel) -->
        <activity
            android:exported="true"
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>
        <service
            android:name=".service.GpsTrackingService"
            android:foregroundServiceType="location" />
    </application>

</manifest>